table, tr, td, th {
    border: 2px solid black;
    /* border-radius: 12px; */
}

table {
    /* Alapértelmezett az separate; */
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 150px;
    
}

td, th {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    background-color: gainsboro;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: cornflowerblue;
}

th{
    background-color: grey;
}

caption {
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}


